.product-card {
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  padding-bottom: 10px;
  cursor: pointer;
}

.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-info {
  padding: 10px;
}

.product-prices {
  display: flex;
  gap: 10px;
  align-items: center;
}

.old-price {
  text-decoration: line-through;
  color: gray;
}

.new-price {
  font-weight: bold;
  color: green;
}
